<div class="container">
  <form [formGroup]="form">
    <div class="form-group">
      <label>Auteur</label>
      <input class="form-control" formControlName="author" placeholder="Le nome de l'auteur">
    </div>
    <!-- <div *ngIf="form.get('author').invalid && (form.get('author').dirty || form.get('author').touched)"
      class="alert text-danger">
    </div>
    <div *ngIf="form.get('author').errors.required && form.get('author').touched"
      class="alert text-danger">
        Champ auteur est requis.
    </div>
    <div *ngIf="form.get('author').errors.minlength"
      class="alert text-danger">
        Nome de l'auteur doit contenir au minimum un caractère.
    </div> -->

    <div class="form-group">
      <label>Titre</label>
      <input class="form-control" formControlName="title" placeholder="Title of merge request">
    </div>
  </form>
    <div class="button">
      <button (click)="addMergeRequest()" class="btn btn-success btn-lg float-right">Submit</button>
    </div>
</div>
