<div class="container" *ngIf="mergeRequests$ | async as mergeRequests">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Titre</th>
        <th scope="col">Auteur</th>
        <th scope="col">Date</th>
        <th scope="col">Etat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mergeRequest of mergeRequests" class="clickable" routerLink="/{{mergeRequest.id}}">
        <th scope="row">{{ mergeRequest.title }}</th>
        <td>{{ mergeRequest.author }}</td>
        <td>{{ mergeRequest.date }}</td>
        <td>{{ mergeRequest.state }}</td>
      </tr>
    </tbody>
  </table>
  <div class="button">
    <a class="btn btn-success btn-lg float-right" routerLink="/add">Ajouter un nouveau Merge Request</a>
  </div>
</div>
