<div class="container" *ngIf="mergeRequest$ | async as mergeRequest">
    <form [formGroup]="form">
        <div class="form-group">
        <label>Titre</label>
            <input type="text" class="form-control" formControlName="title"  value="{{mergeRequest.title}}">
        </div>
        <div class="form-group">
            <label>Auteur</label>
            <input type="text" class="form-control" value="{{mergeRequest.author}}" disabled>
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="text" disabled class="form-control" value="{{mergeRequest.date}}">
        </div>
        <div class="form-group">
            <label>Etat</label>
            <select class="form-control" formControlName="state" value = "{{mergeRequest.state}}">
                <option>OPENED</option>
                <option>CLOSED</option>
            </select>
        </div>      
        <div class="buttons">
            <button class="button1" (click)="backToMergeRequestList()">back</button>
            <!--<button class="button2" style="margin-left: 700px;">Close Merge Request</button> -->
            <button class="button3" style="margin-left: 20px;" (click)="updateMergeRequest({
                id: mergeRequest.id,
                title: form.get('title').value || mergeRequest.title,
                author: mergeRequest.author,
                date: mergeRequest.date,
                state: form.get('state').value || mergeRequest.state,
                comments: mergeRequest.comments
            })">Update</button>
        </div>
        <div class="commentSection">
            <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" formControlName="author" placeholder="Nom d'utilisateur">
            </div>
            <div class="form-group">
                <label>Comments</label>
            </div>
        </div>
        <textarea rows="5" cols="50" id="comment">Enter text here...</textarea>
        <br>
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>
    <app-comment-list [mergeRequestId]="mergeRequest.id"></app-comment-list>
</div>  