.container {
    margin-top: 50px;
}

.buttons {
    margin-top: 50px;
    display: inline-block;
}

.buttons button {
    padding: 13px;
    font-size: 20px;
    width: auto;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.button1 {
    background-color: grey;
    color:white; 
}
.button1:hover {
    background-color: rgb(65, 63, 63);
    color: white; 
}

.button2 {
    background-color: rgb(197, 13, 13);
    color: white; 
}
.button2:hover {
    background-color: red;
    color: white; 
}

.button3 {
    background-color:rgb(19, 151, 19);
    color: white; 
}
.button3:hover {
    background-color: green;
    color: white; 
}

.commentSection {
    margin-top: 50px;
}